.footer-container{
    background-color: var(--dark-color);
    position: sticky;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
  }
  
  .fotter-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container h4{
   padding-top: 20px;
    font-size: 30px;
  }

  .social-media{
    display: flex;
    width: 300px;
    margin-left: 30px;
    justify-content: space-evenly;
  }